<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Welcome to the SlugLife
      </h1>
    </div>
  </div>
</section>


  <div style="width:100%; height:auto;" id="bg-img">
  <!-- style="width:100%; height:100%;" -->
  </div>

<% end %>


<div class="instrument-index-grid pt4">
  <% @instruments.each do |instrument| %>

    <div class="instrument border-top border-light ">
      <div class="instrument-thumb">
      <%= image_tag(instrument.instrument.image_url(:thumb)) %>

      <% if instrument.condition? %>
        <div class="condition">
          <span class="tag is-dark"><%= instrument.condition %></span>
        </div>
      <% end %>
      </div>


    <div class="pa3">
      <h3 style= "color: #dba709;" class="fw7 f4 title"><%= link_to instrument.title, instrument %></h3>

      <p class="soldby text fg pt1">Sold by <%= instrument.user.name %></p>

      <p class="soldby f3 fw6 has-text-right pt2 price"><%= number_to_currency(instrument.price) %></p>

      <% if instrument_author(instrument) %>
         <%= link_to 'Edit', edit_instrument_path(instrument), class: "button is-small" %>
         <%= link_to 'Delete', instrument, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
      <% end %>

    </div>
  </div>
  <% end %>

</div>


<%= yield %>

<%= render "instruments/footer" %>
